<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<bean class="org.springframework.beans.factory.config.MethodInvokingBean">
		<property name="targetObject"
			ref="org.hisrc.azw.service.FacilityStateWatcherService" />
		<property name="targetMethod" value="registerEventListener" />
		<property name="arguments">
			<bean
				class="org.hisrc.azw.twitter.impl.CamelFacilityStateChangedEventListener">
				<property name="producerTemplate" ref="org.apache.camel.ProducerTemplate" />
			</bean>
		</property>
	</bean>

</beans>
