<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean name="org.hisrc.fasta.client.v1.api.DefaultApiFactory" class="org.hisrc.fasta.client.v1.api.DefaultApiFactory" />

	<bean name="org.hisrc.fasta.client.v1.api.DefaultApi"
		factory-bean="org.hisrc.fasta.client.v1.api.DefaultApiFactory"
		factory-method="createApi">
		<constructor-arg value="${fasta.accessToken}"/>
	</bean>

</beans>
